Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora animi id, obcaecati perspiciatis hic non assumenda minima harum, nulla accusantium itaque, officia possimus eum voluptatibus facilis! Aliquam velit est recusandae quis magnam, corrupti accusamus quas magni aperiam consequatur similique labore id laudantium hic ipsam. Veniam, consequuntur ea inventore adipisci laborum incidunt magni asperiores iste quibusdam fugit provident quis repellat ullam voluptatum animi repudiandae vitae nobis magnam, maiores labore! Voluptates praesentium repellat ad? Accusamus quos voluptatem at dolorem, quasi perspiciatis asperiores quo mollitia tempore exercitationem! Aperiam vero praesentium ipsam, tempora consequuntur, temporibus, iusto nesciunt possimus modi vitae eaque molestias incidunt voluptas?


Post::create([
    'category_id' => 1,
    'title' => 'Judul Pertama',
    'slug' => 'judul-pertama',
    'excerpt' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora animi id, obcaecati perspiciatis hic non assumenda minima harum, nulla accusantium itaque, officia possimus eum voluptatibus facilis!',
    'body' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora animi id, obcaecati perspiciatis hic non assumenda minima harum, nulla accusantium itaque, officia possimus eum voluptatibus facilis! Aliquam velit est recusandae quis magnam, corrupti accusamus quas magni aperiam consequatur similique labore id laudantium hic ipsam. Veniam, consequuntur ea inventore adipisci laborum incidunt magni asperiores iste quibusdam fugit provident quis repellat ullam voluptatum animi repudiandae vitae nobis magnam, maiores labore! Voluptates praesentium repellat ad? Accusamus quos voluptatem at dolorem, quasi perspiciatis asperiores quo mollitia tempore exercitationem! Aperiam vero praesentium ipsam, tempora consequuntur, temporibus, iusto nesciunt possimus modi vitae eaque molestias incidunt voluptas?'
]);
Post::create([
'category_id' => 1,
    'title' => 'Judul Kedua',
    'slug' => 'judul-kedua',
    'excerpt' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora animi id, obcaecati perspiciatis hic non assumenda minima harum, nulla accusantium itaque, officia possimus eum voluptatibus facilis!',
    'body' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora animi id, obcaecati perspiciatis hic non assumenda minima harum, nulla accusantium itaque, officia possimus eum voluptatibus facilis! Aliquam velit est recusandae quis magnam, corrupti accusamus quas magni aperiam consequatur similique labore id laudantium hic ipsam. Veniam, consequuntur ea inventore adipisci laborum incidunt magni asperiores iste quibusdam fugit provident quis repellat ullam voluptatum animi repudiandae vitae nobis magnam, maiores labore! Voluptates praesentium repellat ad? Accusamus quos voluptatem at dolorem, quasi perspiciatis asperiores quo mollitia tempore exercitationem! Aperiam vero praesentium ipsam, tempora consequuntur, temporibus, iusto nesciunt possimus modi vitae eaque molestias incidunt voluptas?'
]);
Post::create([
'category_id' => 3,
    'title' => 'Judul Ketiga',
    'slug' => 'judul-ketiga',
    'excerpt' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora animi id, obcaecati perspiciatis hic non assumenda minima harum, nulla accusantium itaque, officia possimus eum voluptatibus facilis!',
    'body' => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora animi id, obcaecati perspiciatis hic non assumenda minima harum, nulla accusantium itaque, officia possimus eum voluptatibus facilis! Aliquam velit est recusandae quis magnam, corrupti accusamus quas magni aperiam consequatur similique labore id laudantium hic ipsam. Veniam, consequuntur ea inventore adipisci laborum incidunt magni asperiores iste quibusdam fugit provident quis repellat ullam voluptatum animi repudiandae vitae nobis magnam, maiores labore! Voluptates praesentium repellat ad? Accusamus quos voluptatem at dolorem, quasi perspiciatis asperiores quo mollitia tempore exercitationem! Aperiam vero praesentium ipsam, tempora consequuntur, temporibus, iusto nesciunt possimus modi vitae eaque molestias incidunt voluptas?'
]);

Category::create([
    'name' => 'Web Design',
    'slug' => 'web-design'
]);

Category::create([
    'name' => 'Web Programming',
    'slug' => 'web-programming'
]);

Category::create([
    'name' => 'Personal',
    'slug' => 'personal'
]);